.orders {
  padding: 20px 80px;
}
.orders > h1 {
  margin: 30px 0;
}

.order {
  position: relative;
  margin: 20px 0;
  padding: 40px;
  border: 1px solid var(--themeLightGray);
  background: var(--themeWhite);
}
.order__header {
  margin-bottom: 10px;
}
.order__created {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.order__button {
  border: none;
  background: transparent;
}
.order__button:hover {
  border: none;
  color: var(--themeGray);
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}
