.basket {
  display: flex;
  padding: 20px;
}

.basket__left {
  width: 60%;
}
.basket__right {
  padding: 40px;
}

.basket__ad_container {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgb(220, 221, 222);
  margin-bottom: 20px;
}
.basket__ad_container > img {
  width: 100%;
  margin-bottom: 10px;
}
.basket__title {
  margin-right: 10px;
  padding: 10px;
}

.basket__checkout {
  width: 400px;
  height: 200px;
  padding: 20px;
  background: rgb(240, 241, 242);
  border: 2px solid rgb(220, 221, 222);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.basket__checkout_body {
  font-size: smaller;
}
.basket__checkout_body input {
  margin-right: 5px;
}

.basket__checkout_footer button {
  width: 100%;
  height: 35px;
  background: var(--themeYellow);
  border: 1.5px solid var(--themeYellowBorder);
  border-radius: 5px;
}
