.product {
  width: 100%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background: var(--themeWhite);
}
.product:hover {
  border: 1px solid var(--themeVeryLightBlue);
}
.product__header {
  height: 35%;
}
.product__header h3 {
  font-weight: normal;
  margin-bottom: 5px;
}
.product__header span {
  display: inline-block;
}

.product__body {
  height: 50%;
}
.product__body > img {
  max-height: 120px;
  width: 100%;
  object-fit: contain;
}
.product__footer {
  height: 15%;
  text-align: center;
}
.product__button {
  background: var(--themeButton);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.product__button:hover {
  background: var(--themeButtonHover);
}
.product__button:active {
  background: var(--themeButton);
}
