.amazon-logo_container {
  height: 100%;
  width: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid transparent;
}
.amazon-logo_container:hover {
  border: 1px solid var(--themeWhite);
}
.amazon-logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
