.searchbar {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}
.searchbar__select {
  width: fit-content;
  height: 100%;
  background-color: var(--themeSuperLightBLue);
  border: none;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid var(--themeVeryLightBlue);
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  color: var(--themeGray);
}
.searchbar__select option {
  margin-top: 50%;
}
.searchbar__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
}
.searchbar__icon_container {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--themeOrange);
  border-radius: 0 5px 5px 0;
}
.searchbar__icon {
  width: 25px;
  height: 25px;
}
