.header {
  position: sticky;
  z-index: 1;
  top: 0;
  height: 60px;
  padding: 0px 20px;
  background: rgb(20, 24, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__option_container {
  padding: 5px;
}
.header__option_container_flex {
  width: 60%;
  min-width: 500px;
}
.deliver {
  min-width: 80px;
}

.deliver__title {
  color: white;
  font-size: 12px;
  padding-left: 24px;
  margin-bottom: -10px;
}

.deliver__country {
  color: white;
  font-size: 14px;
}
