.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar__option {
  height: 100%;
  padding: 0 5px;
  color: var(--themeWhite);
  border-radius: 3px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__option:hover {
  border: 1px solid var(--themeWhite);
}
/* Options */
.orders,
.prime {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
.cart {
  display: flex;
  align-items: center;
}
.cart__link {
  text-decoration: none;
}
.cart svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: var(--themeWhite);
}
.cart__count {
  color: var(--themeOrangeDarker);
  width: 20px;
  font-size: large;
  text-align: center;
}
.account__link {
  color: var(--themeWhite);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
.account__title,
.orders__title,
.prime__title {
  font-size: small;
}
.account__subtitle,
.orders__subtitle,
.prime__subtitle,
.cart__count {
  font-weight: bold;
}
