.home__image {
  width: 100%;
  z-index: -1;

  margin-bottom: 150px;
  mask-image: linear-gradient(to bottom, var(--themeBlack), var(--themeTransparentBlack));
}

.products__container {
  padding: 10px;
  position: absolute;
  top: 400px;
  width: 100%;
}
